@{
    ViewData["Title"] = "Richard Mille  |  Shopping Cart";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div id="content">

</div>

<script src="@Url.Content("~/js/viewComponents/shoppingCartView.jsx")"></script>