
@{
    ViewData["Title"] = "Richard Mille  |  Registration";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="registration">
    <div id="registration-form">

    </div>

    <div class="watch-wallpaper">

    </div>

</div>

<script src="@Url.Content("~/js/viewComponents/registrationView.jsx")"></script>