
@{
    ViewData["Title"] = "Richard Mille  |  Login";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="login">
    <div id="login-form">
        
    </div>

    <div class="watch-wallpaper">

    </div>

</div>

<script src="@Url.Content("~/js/viewComponents/loginView.jsx")"></script>