
@{
    ViewData["Title"] = "Richard Mille  |  Login";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="login">
    <div id="login-form">
        
    </div>

    <div class="watch-wallpaper">

    </div>

</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.4.0/umd/react.development.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.4.0/umd/react-dom.development.js"></script>
<script src="@Url.Content("~/js/viewComponents/loginView.jsx")"></script>