
@{
    ViewData["Title"] = "Richard Mille  |  All staff";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="all-users-editing-view">

</div>


<script type="module" src="@Url.Content("~/js/viewComponents/editUsersView.jsx")"></script>