#login{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    display: flex;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: white;
    font-family: "Raleway";
}

.watch-wallpaper {
    height: 100%;
    width: 45%;
    background-image: url('../images/RM11-03-Transparent.webp');
    background-size: 70% 80%;
    background-repeat: no-repeat;
    background-position: center;
}

#login-form {
    height: 100%;
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-image: url('../images/noise.webp');
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 60%;
    box-shadow: 0px 5px 17px 0px rgba(0,0,0,0.75);
    margin-left: 10%;
}

    .login-container input {
        border: 0;
        border-bottom: 1px solid white;
        background-color: rgba(0,0,0,0);
        outline: none;
        font-size: 1.1em;
        padding: 5px;
        color: white;
        font-family: "Raleway";
        width: 95%;
    }

.header {
    margin-top: 10%;
    width: 80%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container p,.login-container h1,.login-container input {
    margin: 0;
}

.input{
    width: 80%;
    height: 15%;
    display: flex;
    align-items: flex-end;
}

.input p{
    position: absolute;
    margin-top: -10px;
    margin-left: 5px;
    transition: 0.5s;
}

    .input p:hover {
        margin-top: -40px;
        margin-left: 0px;
        font-size: 0.8em;
        transition: 0.5s;
    }

.support-container {
    margin-top: -2%;
    height: 15%;
    width: 80%;
    display: flex;
    align-items: center;
}

.support-container input{
    width: 10%;
    height: 15%;
}

.support-container p{
    font-size: 0.8em;
}

.buttons-container {
    height: 30%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

    .buttons-container button {
        font-family: "Raleway";
        height: 30%;
        outline: none;
    }

    .buttons-container a{
        background-color: rgba(0,0,0,0);
        border: 0;
        color: white;
        text-decoration: none;
    }

        .buttons-container button:first-child {
            width: 60%;
            border: 0;
            color: black;
            border-radius: 5px;
        }

        .buttons-container button:hover{
            cursor: pointer;
        }

.buttons-container:first-child{
    height: 50%;
}