
@{
    ViewData["Title"] = "Richard Mille  |  Edit products";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="all-products-editing-view">

</div>


<script type="module" src="@Url.Content("~/js/viewComponents/editProductsView.jsx")"></script>