
@{
    ViewData["Title"] = "Richard Mille  |  All products";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="all-products-view">

</div>

<script type="module" src="@Url.Content("~/js/viewComponents/productsView.jsx")"></script>