
@{
    ViewData["Title"] = "Richard Mille  |  Welcome";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="index-view">

</div>

<script type="module" src="@Url.Content("~/js/viewComponents/indexView.jsx")"></script>