
@{
    ViewData["Title"] = "API is running...";
}

<html>
    <head>
        <title> API is running...</title>
        <style>
            body {
                background-color: #add8e6;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        </style>
    </head>

    <body>
        <h2>Shop.API is running...</h2>
    </body>
</html>


